
{% extends "base.html" %}

{% block title %}
Thermos --Add a url
{% endblock %}

{% block content %}
<section>


	<h1>Add a new URL</h1>

	<form action="" method="post">
		{{ form.hidden_tag() }}


	<table>
			<tr><br>
				
				<br><td>{{ form.url.label }} {{ form.url(size=20) }}</td>	
				<!-- <br><td><input type="text" name="url"></td> -->
			</br></tr>


			<tr>
				
				<br><td>{{ form.description.label }} {{ form.description(size=20) }}</td></br>
			</tr>
				
			<tr><td>{{ form.submit }} </td></tr>
  			<!-- <tr><td><br><button type="submit">Submit</button> </br></td></tr> -->


	<!-- <table>
  	<tr><td>Please enter the book url <br> <input type="text" name="url"> <br></td></tr>
  	<tr><td><p><button type="submit">Submit</button> </p></td></tr>
  </table> -->

	</table>

  </article>
	</form>
</section>

{% endblock %}

{% block sidebar %}
{% endblock %}
