
{% extends "base.html" %}

{% block title %}
Thermos --Add a url
{% endblock %}

{% block content %}
<section>

	<h1>Add a new URL</h1>

	<form method="POST" action="">
    	{{ form.hidden_tag() }}
    	{{ form.name.label }} {{ form.name(size=5) }}
    	<input type="submit" value="Go">
	</form>


<!-- 	<table>
  	<tr><td>Please enter the book url <br> <input type="text" name="url"> <br></td></tr>
  	<tr><td><p><button type="submit">Submit</button> </p></td></tr>
  </table> -->

</section>

{% endblock %}

{% block sidebar %}
{% endblock %}
